* {
  font-family: "Roboto", sans-serif;
}
html, body {
  height: 100%;
  width: 100%
}

body {
  overflow: hidden;
}

/* Nav  */
/* background border that stretches width of current page size */
#top-background {
  height: 80px;
  background-color: rgb(52, 52, 52);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-tools {
  display:flex;
  align-items: center;
  margin-left: 10px;
}

.title {
  color: white;
  /* flex: 2; */
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

li {
  margin: 0 15px;
  list-style: none;
}

.nav-title {
  margin: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.btn {
  background-color: rgb(0, 200, 255);
  color: white;
  width: 100px;
  height: 25px;
  font-size: 16px;
}

/* main container to house the left section and the right section */
#main-body {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  height: 800px;
}

/* Profile card */
.left {
  width: 60%;
  margin-top: 20px;
}

.user-card {
  border: 1px solid black;
  width: 700px;
  height: 500px;
  position: relative;
  margin: 10px;
}

.top {
  height: 100px;
  background-color: rgb(1, 98, 150);
}

.my-avatar {
  background-color: white;
  width: 100px; 
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 13%;
  left: 4%;
}

.bottom h1 {
  margin-top: 50px;
  margin-left: 20px;
}

.profile {
  margin-left: 25px;
}

.profile img {
  width: 2%;
}

.edit {
  margin: 5px 0 10px 25px;
}

.edit img {
  width: 2%;
}

.user-card {
  border: 1px solid black;
  width: 700px;
  height: 400px;
  position: relative;
  margin: 10px;
}

/* education card */

.education-section {
  margin: 30px 10px 10px 10px;
  border: 1px solid grey;
}

.education-title-container {
  height: 50px;
  background-color:rgb(99, 99, 99);
  color: white;
  font-weight: bold;
}

.education-title-container h2 {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
}

.education-info {
  margin: 30px;
}

/* content on right side */
.right {
  width: 40%;
  margin-top: 20px;
  margin-left: 25px;
}

/* connection requests card */
.connection-requests-container {
  height: 250px;
  border:1px solid black;
  margin-top: 10px;
}

.connection-requests-header h2 {
  margin: 0;
  margin-right: 65px;
  color: white;
}

.pending-requests {
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 50%;
  display: inline;
  background-color: rgb(174, 174, 174);
}

.title-flex {
  height: 50px;
  background-color:rgb(99, 99, 99);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.your-connections-container h2 {
  margin: 0;
  margin-right: 70px;
  color: white;
  background-color:rgb(99, 99, 99);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.flex-list {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
}

.user-avatar .connected {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  flex: 1;
}

.users-list p {
  font-size: 24px;
  flex: 2;
  margin-left: 15px;
}

.accept-request {
  flex: 2;
}

.accept-request img {
  height: 40px;
  width: 40px;
  margin: 5px;
}

.view-more {
  border-top: 1px solid black;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  /* margin-left: 20px; */
}

.view-more a {
  margin-left: 20px;
  font-size: 20px;
}


/* your connections card */

.your-connections-container {
  height: 450px;
  border: 1px solid grey;
  margin-top: 25px;
}

.your-connections-container h2 {
  margin: 0;
  margin-right: 70px;
  color: white;
  background-color:rgb(99, 99, 99);
}

.connections {
  width: 60px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 50%;
  display: inline;
  background-color: rgb(174, 174, 174);
}

.users-list p {
  font-size: 24px;
  flex: 2;
  margin-left: 15px;
}

.view-more {
  border-top: 1px solid black;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  /* margin-left: 20px; */
}

.view-more a {
  margin-left: 20px;
  font-size: 20px;
}